<ul class="mainMenu">
   <a href="#pin_enter"><li class="menuOption vehicle"><div class="icon"></div>Vehicle Registration Renewal</li></a>
   <li class="menuOption duplicate"><div class="icon"></div>Missing / Duplicate Titles</li>
   <li class="menuOption personalize"><div class="icon"></div>Personalize &amp; Reserve Plates</li>
   <li class="menuOption titles"><div class="icon"></div>Repossession Title Requirements</li>
   <li class="menuOption selling"><div class="icon"></div>Selling / Gifting a Vehicle</li>
</ul>
